.wrapper{
	display: flex;
	width: 90%;
	height: 400px;
	margin-top: 100px;
	margin-left: 100px;	
	background: rgba(0, 0, 0, 0.4);
}
.box{
	width: 220px;
	height: 220px;
	margin-top: 30px;
	margin-left: 60px;	
}
.box img{
	width: 100%;
	border-radius: 50%;
}
.textBox{
	width: 50%;
	color: white;
	text-align: left;
	margin-left: 60px;
}
.title{
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Cinzel', serif;
}
.text{
	font-size: 15px;
}